body{
    display: grid;
    grid-template-columns: repeat(4,350px);

}
.main{
    color: white;
    background-color: rgb(0,180,0);
    border: 2px darkgreen solid;
    margin: 20px;
    height: 250px;
    padding: 30px;
}
span{
    margin: 25%;
    
}
